<header>
	<div>
		<%= link_to 'Home', root_path %>
		<% if current_user %>
			<%= link_to 'Edit Profile' %>
			<%= link_to 'Logout' %>
		<% else %>
			<%= link_to 'Sign up' %>
			<%= link_to 'Login' %>
		<% end %>
	</div>
</header>